<header class="page__header header">
  <span class="header__logo">LOCO</span>
  <div class="header__lang-switcher lang-switcher">
    <span class="lang-switcher__value">RU</span>
    <span class="lang-switcher__lang-arrow"></span>
  </div>
</header>