 <article class="page page-promo">
      <div class="page__left-block">
        {{> header }}
        <footer class="page-promo__footer footer">
          <div class="footer__social social ">
            <a class="social__item social__item--inst" href="#"></a>
            <a class="social__item social__item--vk" href="#"></a>
            <a class="social__item social__item--fb" href="#"></a>
          </div>
        </footer>
      </div>
<!-- меню -->
      <nav class="page__menu menu">
        <div class="menu__icon">
          <input type="checkbox"  id="menu__check">
          <label  for="menu__check"></label>
          <span class="menu__icon-item menu__icon-item--first"></span>
          <span class="menu__icon-item menu__icon-item--second"></span>
          <span class="menu__icon-item menu__icon-item--third"></span>
          <span class="menu__icon-item menu__icon-item--fourth"></span>
        </div>
      </nav>
      <article class="right-block">
        <div class="page-promo__content content">
          <img class="page-promo__img" src="images/loco-girl.jpg" alt="Новая коллекция">
          <section class="page__info info">
            <h1 class="info__title">Новая коллекция</h1>
            <p class="info__text">
              Бесплатная доставка включена. Предложение действует на сайте loco.com и в магазинах до 18.09.2018. Для получения скидки в магазинах предъявите скриншот данного предложения. В магазинах предложение не суммируется с другими акциями, предложениями и распродажей.
            </p>
            <button class="info__read-btn button">Читать дальше</button>
            <div class="other info__other" id="scroll">
             <a class="other__link other__link--img" href="#">Другие предложения</a>
            </div>
          </section>
        </div>
      </article>
      <a class="scroll page__scroll" href="#page-product" id="scroll"></a>
    </article>