<article class="page page-product">
      <a class="page-product__ancord" id="page-product"></a>
      <div class="page-product__content content">
        <div class="product-img product-content__img">
          <div class="product-img__box product-img--position--front">
            <img class="product-img__item" src="images/bag-pink.png" alt="Розовый клатч">
          </div>
          <div class="product-img__box product-img--position--back">
            <img class="product-img__item product-img__item--invisible" src="images/bag-gray.png" alt="Серый клатч">
          </div>
        </div>
        <div class="page-product__wrap">
          <section class="product-card product-content__card">
            <h2 class="product-card__title title">Кожаный клатч</h2>
            <h3 class="product-card__subtitle subtitle">Осенняя коллекция</h3>
            <p class="product-card__text">
              Бесплатная доставка включена. Предложение действует на сайте loco.com и в магазинах до 18.09.2018. Для получения скидки в магазинах предъявите скриншот данного предложения. В магазинах предложение не суммируется с другими акциями, предложениями и распродажей.
            </p>
            <form class="product-form product-card__form">
              <div class="product-form__color-and-price">
                <div class="select-color product-form__select-color">
                  <span class="select-color__item"></span>
                  <span class="select-color__item"></span>
                  <span class="select-color__item"></span>
                  <span class="select-color__item"></span>
                </div>
                <div class="price product-form__price">
                  <span class="price__value">1990₽</span>
                </div>
              </div>
              <div class="container-buttons">
                <div class="counter-btn product-form__counter-btn">
                  <span class="counter-btn__minus">-</span>
                  <span class="counter-btn__value">1</span>
                  <span class="counter-btn__plus">+</span>
                </div>
                <button class="button product-form__button">Добавить в корзину</button>
              </div>
            </form>
          </section>
          <div class="other product-content-other">
            <a class="other__link product-content-other__link" href="#">Другие товары на loco.com</a>
            <div class="other__arrow other__arrow--position"></div>
          </div>
        </div>
      </div>
    </article>