<article class="page-total-look page">
      <div class="total-look-content content">
        <div class="total-look-img__wrap">
          <img class="total-look-img" src="images/clot.jpg" alt="Serene Total Look">
        </div>
        <div class="page-total-look__wrap">
          <section class="total-look-card">
          <h2 class="total-look-card__title title">Serene Total Look</h2>
          <h3 class="total-look-card__subtitle subtitle">Осенняя коллекция</h3>
          <p class="total-look-card__text">
            Джинсы, свитер, обувь.<br>
            В комплект также входит пакет ароматного чая и кружка.
          </p>
          <form class="total-look-form container-buttons">
            <div class="counter-btn total-look-form__counter-btn">
              <span class="counter-btn__minus">-</span>
              <span class="counter-btn__value">1</span>
              <span class="counter-btn__plus">+</span>
            </div>
            <button class="button total-look-form__button">Добавить в корзину</button>
          </form>
          </section>
          <div class="other total-look-other">
            <a class="total-look-other__link other__link" href="#">Другие товары на loco.com</a>
            <div class="other__arrow other__arrow--position-total"></div>
          </div>
        </div>
      </div>
      <footer class="copyright page-total-look__footer">
          <span class="copyright__text">Разработано в</span>
          <a class="copyring__link" href="http://whs.getcourse.ru/teach/control">
            <img class="copyright-whs" src="images/webhero.png" alt="WebHeroSchool">
          </a>
      </footer>
    </article>